ccxt==4.4.75
pandas==2.2.3
numpy==1.26.4
matplotlib==3.10.1
mplfinance==0.12.10b0
streamlit==1.44.1
youtube-transcript-api==1.0.3
openai==1.75.0
yfinance==0.2.55
pandas_ta==0.3.14b0
scikit-learn==1.6.1