ccxt==4.4.75
matplotlib==3.10.1
mplfinance==0.12.10b0
numpy==1.26.4
openai==1.75.0
pandas==2.2.3
pandas_ta==0.3.14b0
ruff==0.11.10
scikit-learn==1.6.1
streamlit==1.44.1
yfinance==0.2.55
youtube-transcript-api==1.0.3
